.menu {
  li {
    display: inline-block;
    padding: 6px 15px;
    font-size: 13px;
    border: 1px solid transparent;
  }
  a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(153,153,153,0.3);
    &:hover {
      color: red;
      border-bottom: 1px solid rgba(255,0,0,0.3);
    }
  }
  @media (max-width: 768px) {
    li {
      display: block;
      padding: 6px 0px;
    }
  }
}