.page {
  padding-top: 70px;
  &__wrapper {
    @extend .wrapper;
    &--fullwidth {
      max-width: 960px;
      margin: 0 auto;
    }
  }
  &__header {
    margin-bottom: 40px;
  }
  &__title {
    color: orangered;
    font-weight: 900;
  }
  &__content {
    width: 70%;
    float: left;
    padding-right: 30px;
    &--fullwidth {
      float: none;
      width: auto;
    }
    p {
      margin-bottom: 10px;
    }
  }
  &__sidebar {
    width: 30%;
    float: left;
    padding-left: 20px;
  }
}