.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
  &__wrapper {
    @extend .wrapper;
    position: relative;
  }
  &__logo {
    float: left;
    width: 15%;
    a {
      color: black;
      text-decoration: none;
      font-weight: 900;
      font-size: 24px;
      border: none;
      &:hover {
        color: $blue;
      }
    }
  }
  &__menu {
    float: left;
    position: relative;
    top: 1px;
  }
  &__lang {
    float: right;
    position: relative;
    top: 1px;
    li {
      display: inline-block;
      padding: 6px 2px;
      font-size: 13px;
      border: 1px solid transparent;
    }
    a {
      color: $blue;
      text-decoration: none;
      border-bottom: 1px solid rgba(153,153,153,0.3);
      &:hover {
        color: red;
        border-bottom: 1px solid rgba(255,0,0,0.3);
      }
    }
  }
  &__nav {
    float: left;
    width: 85%;
  }
  &__nav-toggle {
    display: none;
  }
  #toggle {
    position: relative;
    width: 30px;
    height: 26px;
    input {
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      &:checked {
        + span {
          background: transparent;
          &:after {
            transform: rotate(45deg) translate(-1px, -8px);
          }
          &:before {
            transform: rotate(-45deg) translate(-4px, 12px);
          }
        }
      }
    }
    span {
      position: absolute;
      width: 100%;
      height: 5px;
      background: black;
      margin-top: 10px;
      &:before, &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        background: black;
        top: -9px;
        transition: 0.3s;
      }
      &:after {
        top: 9px;
      }
    }
  }
  @media (max-width: 768px) {
    &__nav {
      float: none;
      position: absolute;
      z-index: 1000;
      background: white;
      width: 100%;
      top: 100%;
      padding: 10px 0;
      display: none;
    }
    &__menu {
      float: none;
      position: static;
    }
    &__nav-toggle {
      display: block;
      float: right;
      position: relative;
      top: 2px;
    }
    &__lang {
      float: none;
      position: static;
      li {
        display: inline-block;
        padding: 6px 2px;
      }
    }
  }
}