.portfolio-item {
  &__left {
    float: left;
    width: 70%;
    img {
      margin-left: -30px;
    }
  }
  &__right {
    float: right;
    width: 30%;
  }
  @media (max-width: 1024px) {
    &__left {
      img {
        margin-left: -15px;
      }
    }
  }
  @media (max-width: 768px) {
    &__left {
      float: none;
      width: 100%;
      img {
        margin-left: 0px;
      }
    }
    &__right {
      float: none;
      width: 100%;
      margin-bottom: 40px;
    }
  }
}